<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Gestion de Reservas</span>
    <div class="nav-options">
      <a routerLink="home" routerLinkActive="active" class="nav-option">Home</a>
      <a routerLink="menu" routerLinkActive="active" class="nav-option">Menu</a>
      <a routerLink="about" routerLinkActive="active" class="nav-option">About</a>
      <a routerLink="contact" routerLinkActive="active" class="nav-option">Contact</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
      <a mat-list-item routerLink="reservas" routerLinkActive="active" class="nav-link">Lista de Reservas</a>
      <a mat-list-item routerLink="roles" routerLinkActive="active" class="nav-link">Lista de Roles</a>
      <a mat-list-item routerLink="solicitantes" routerLinkActive="active" class="nav-link">Lista de Solicitantes</a>
      <a mat-list-item routerLink="recursos" routerLinkActive="active" class="nav-link">Lista de Recursos</a>
      <a mat-list-item routerLink="espacios" routerLinkActive="active" class="nav-link">Lista de Espacios</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>