<div class="container-fluid">
    <div class="card mt-5" style="align-items:center">
        <h1 style="padding-top: 20px;">Reserva Dashboard</h1>
    </div>
    <div style="align-items:baseline; margin-top: 30px">
        <button ejs-button cssClass="e-primary" data-toggle="modal" data-target="#exampleModal">Nueva Reserva</button>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva Reserva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mt-3" style="padding: 20px">
                    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                        <div class="form-group">
                            <label for="name">Fecha :</label>
                            <ejs-datepicker [strictMode]="true" format="dd/MM/yyyy"
                                placeholder="Ingresar la fecha de la reserva" [(ngModel)]="dateValue"
                                [isMultiSelection]="false" [cssClass]="null" [min]="minDate"></ejs-datepicker>
                        </div>
                        <div class="form-group">
                            <label for="name">Hora Desde :</label>
                            <ejs-timepicker placeholder="Seleccionar la hora de inicio" #horaDesde
                                [(ngModel)]="horaDesdeValue"></ejs-timepicker>
                        </div>
                        <div class="form-group">
                            <label for="name">Hora Hasta :</label>
                            <ejs-timepicker placeholder="Seleccionar la hora de finalización" #horaHasta
                                [(ngModel)]="horaHastaValue"
                                [ngClass]="{'disabled': horaHastaValue < horaDesdeValue}"></ejs-timepicker>
                            <div *ngIf="horaHastaValue < horaDesdeValue" class="text-danger">
                                La hora de finalización no puede ser menor que la hora de inicio.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Cantidad de Reserva :</label>
                            <ejs-textbox #cantidadReserva [(ngModel)]="cantidadReservaValue" name="cantidadReserva"
                                id="cantidadReserva" placeholder="Cantidad de personas para reservar"
                                inputmode="numeric" (input)="filterOnlyNumbers($event)"
                                (keypress)="preventNonNumericInput($event)"></ejs-textbox>
                        </div>
                        <div class="form-group">
                            <label for="name">Motivo de reserva:</label>
                            <ejs-textbox #motivoReserva (ngModel)="(motivoReserva)" name="motivoReserva"
                                id="motivoReserva" placeholder="Motivo de la reserva"></ejs-textbox>
                        </div>
                        <div class="form-group">
                            <label for="name">Solicitante que reserva</label>
                            <select [(ngModel)]="selectedSolicitante" (change)="cambiarSolicitante($event)" name="solicitantes"
                                id="solicitantes" placeholder="Seleccionar un solicitante">
                                <option [value]="solicitante.id" *ngFor="let solicitante of solicitanteDetails">
                                    {{ solicitante.nombre }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">Espacio a reservar</label>
                            <select [(ngModel)]="selectedEspacio" (change)="cambiarEspacio($event)" name="espacio"
                                id="espacios" placeholder="Seleccionar un espacio">
                                <option [value]="espacio.id" *ngFor="let espacio of espacioDetails">
                                    {{ espacio.nombre }}
                                </option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="mt-5" style="align-items:center">
        <ejs-grid [dataSource]='data' [allowPaging]="true" [allowSorting]="true" [allowFiltering]="true"
            [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar'
            (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>
            <e-columns>
                <e-column field='id' headerText='ID' textAlign='Right' width=90 isPrimaryKey='true'></e-column>
                <e-column field='fecha' headerText='Fecha' width=120 format="dd/MM/yyyy">
                    <ejs-datepicker [strictMode]="true" [min]="minDate" [(value)]="orderData.fecha">
                    </ejs-datepicker>
                </e-column>
                <e-column field='horaDesde' headerText='Hora Desde' width=120 format="HH:mm"></e-column>
                <e-column field='horaHasta' headerText='Hora Hasta' width=120 format="HH:mm"></e-column>
                <e-column field='cantidadReserva' headerText='Cantidad Reserva' width=150></e-column>
                <e-column field='motivo' headerText='Motivo' width=150></e-column>
                <e-column field='fechaHoraReserva' headerText='FechaHora Reserva' width=150></e-column>
                <e-column field='solicitantes' headerText='Solicitante' width=150></e-column>
                <e-column field='espacios' headerText='Espacio' width=150></e-column>
            </e-columns>

            
            <ng-template #editSettingsTemplate let-data class="card mt-3" style="padding: 20px">
                <form #updateForm="ngForm" (ngSubmit)="updateReserva()">

                    <div class="form-group" #fecha>
                        <div class="e-control-wrapper"
                            [ngClass]="{'e-error': data.fecha.invalid && (data.fecha.dirty || data.fecha.touched)}">
                            <label for="name">Fecha :</label>
                            <ejs-datepicker #fechaReserva [(ngModel)]="reservaToUpdate.fecha" [strictMode]="true"
                                format="dd/MM/yyyy" [isMultiSelection]="false" [cssClass]="null"
                                [min]="minDate"></ejs-datepicker>
                        </div>
                        <div id="FechaError" *ngIf='data.fecha.invalid && (data.fecha.dirty || data.fecha.touched)'>
                            <label class="e-error" id="Fecha-info" style="display: block;">*Fecha is
                                required</label>
                        </div>
                    </div>

                    <div class="form-group" #horaDesde>
                        <div class="e-control-wrapper"
                            [ngClass]="{'e-error': data.horaDesde.invalid && (data.horaDesde.dirty || data.horaDesde.touched)}">
                            <label for="name">Hora Desde :</label>
                            <ejs-timepicker #horaDesde [(ngModel)]="reservaToUpdate.horaDesde"></ejs-timepicker>
                        </div>
                        <div id="HoraDesdeError"
                            *ngIf='data.horaDesde.invalid && (data.horaDesde.dirty || data.horaDesde.touched)'>
                            <label class="e-error" id="Fecha-info" style="display: block;">*Hora desde is
                                required</label>
                        </div>
                    </div>

                    <div class="form-group" #horaHasta>
                        <div class="e-control-wrapper"
                            [ngClass]="{'e-error': data.horaHasta.invalid && (data.horaHasta.dirty || data.horaHasta.touched)}">
                            <label for="name">Hora Hasta :</label>
                            <ejs-timepicker #horaHasta [(ngModel)]="reservaToUpdate.horaHasta"
                                [ngClass]="{'disabled': horaHastaValue < horaDesdeValue}"></ejs-timepicker>
                            <div *ngIf="horaHastaValue < horaDesdeValue" class="text-danger">
                                La hora de finalización no puede ser menor que la hora de inicio.
                            </div>
                        </div>
                        <div id="HoraHastaError"
                            *ngIf='data.horaHasta.invalid && (data.horaHasta.dirty || data.horaHasta.touched)'>
                            <label class="e-error" id="Fecha-info" style="display: block;">*Hora hasta is
                                required</label>
                        </div>
                    </div>

                    <div class="form-group" #cantidad>
                        <div class="e-control-wrapper"
                            [ngClass]="{'e-error': data.cantidadReserva.invalid && (data.cantidadReserva.dirty || data.cantidadReserva.touched)}">
                            <label for="name">Cantidad de Reserva :</label>
                            <ejs-textbox #cantidadReserva [(ngModel)]="reservaToUpdate.motivo" name="cantidadReserva"
                                id="cantidadReserva" inputmode="numeric" (input)="filterOnlyNumbers($event)"
                                (keypress)="preventNonNumericInput($event)"></ejs-textbox>
                        </div>
                        <div id="CantidadError"
                            *ngIf='data.cantidadReserva.invalid && (data.cantidadReserva.dirty || data.cantidadReserva.touched)'>
                            <label class="e-error" id="Cantidad-info" style="display: block;">*Motivo is
                                required</label>
                        </div>
                    </div>

                    <div class="form-group" #motivo>
                        <div class="e-control-wrapper"
                            [ngClass]="{'e-error': data.motivo.invalid && (data.motivo.dirty || data.motivo.touched)}">
                            <label for="name">Motivo de reserva:</label>
                            <ejs-textbox #motivoReserva [(ngModel)]="reservaToUpdate.motivo" name="motivoReserva"
                                id="motivoReserva"></ejs-textbox>
                        </div>
                        <div id="MotivoError" *ngIf='data.motivo.invalid && (data.motivo.dirty || data.motivo.touched)'>
                            <label class="e-error" id="Motivo-info" style="display: block;">*Motivo is
                                required</label>
                        </div>
                    </div>

                    <div class="form-group" #solicitante>
                        <div class="e-control-wrapper"
                            [ngClass]="{'e-error': data.solicitantes.invalid && (data.solicitantes.dirty || data.solicitantes.touched)}">
                            <label for="name">Solicitante que reserva:</label>
                            <ejs-combobox #solicitantes [(ngModel)]="reservaToUpdate.solicitantes" name="solicitantes"
                                id="solicitantes" (change)="cambiarSolicitante($event)">

                                 [(ngModel)]="selected" (change)="cambiarSolicitante($event)" name="solictante"
                                id="solicitantes" placeholder="Seleccionar un solicitante">
                                <option [value]="solicitante.id" *ngFor="let solicitante of solicitanteDetails">
                                    {{ solicitante.nombre }}
                                </option>
                            </ejs-combobox>
                        </div>
                        <div id="MotivoError" *ngIf='data.motivo.invalid && (data.motivo.dirty || data.motivo.touched)'>
                            <label class="e-error" id="Motivo-info" style="display: block;">*Motivo is
                                required</label>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ejs-grid>
    </div>
</div>