<div class="container">
    <div class="card mt-5" style="align-items:center">
        <h1 style="padding-top: 20px;">Reserva Dashboard</h1>
    </div>
    <div style="align-items:baseline; margin-top: 30px">
        <button ejs-button cssClass="e-primary" data-toggle="modal" data-target="#exampleModal">Nueva Reserva</button>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva Reserva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mt-3" style="padding: 20px">
                    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                        <div class="form-group">
                            <label for="name">Fecha :</label>
                            <ejs-datepicker [strictMode]="true" format="dd/MM/yyyy"
                                placeholder="Ingresar la fecha de la reserva" [(ngModel)]="dateValue"
                                [isMultiSelection]="false" [cssClass]="null" [min]="minDate"></ejs-datepicker>
                        </div>
                        <div class="form-group">
                            <label for="name">Hora Desde :</label>
                            <ejs-timepicker placeholder="Seleccionar la hora de inicio" #horaDesde
                                [(ngModel)]="horaDesdeValue"></ejs-timepicker>
                        </div>
                        <div class="form-group">
                            <label for="name">Hora Hasta :</label>
                            <ejs-timepicker placeholder="Seleccionar la hora de finalización" #horaHasta
                                [(ngModel)]="horaHastaValue"
                                [ngClass]="{'disabled': horaHastaValue < horaDesdeValue}"></ejs-timepicker>
                            <div *ngIf="horaHastaValue < horaDesdeValue" class="text-danger">
                                La hora de finalización no puede ser menor que la hora de inicio.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Cantidad de Reserva :</label>
                            <ejs-textbox #cantidadReserva [(ngModel)]="cantidadReservaValue" name="cantidadReserva"
                                id="cantidadReserva" placeholder="Cantidad de personas para reservar"
                                inputmode="numeric" (input)="filterOnlyNumbers($event)"
                                (keypress)="preventNonNumericInput($event)"></ejs-textbox>
                        </div>
                        <div class="form-group">
                            <label for="name">Motivo de reserva:</label>
                            <ejs-textbox #motivoReserva (ngModel)="(motivoReserva)" name="motivoReserva"
                                id="motivoReserva" placeholder="Motivo de la reserva"></ejs-textbox>
                        </div>
                        <div class="form-group">
                            <label for="name">Solicitante que reserva</label>
                            <select [(ngModel)]="selected" (change)="cambiarSolicitante($event)" name="solicitantes"
                                id="solicitantes" placeholder="Seleccionar un solicitante">
                                <option [value]="solicitante.id" *ngFor="let solicitante of solicitanteDetails">
                                    {{ solicitante.nombre }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">Espacio a reservar</label>
                            <select [(ngModel)]="selected" (change)="cambiarEspacio($event)" name="espacio"
                                id="espacios" placeholder="Seleccionar un espacio">
                                <option [value]="espacio.id" *ngFor="let espacio of espacioDetails">
                                    {{ espacio.nombre }}
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="mt-5" style="align-items:center">
        <ejs-grid [dataSource]='data' [allowPaging]="true" [allowSorting]="true" [allowFiltering]="true"
                [pageSettings]='pageSettings'  [editSettings]='editSettings' [toolbar]='toolbar' (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>
            <e-columns>
                <e-column field='id' headerText='ID' textAlign='Right' width=90 isPrimaryKey='true'></e-column>
                <e-column field='fecha' headerText='Fecha' width=120 format="dd/MM/yyyy">
                    <ejs-datepicker [strictMode]="true" 
                                [min]="minDate" [(value)]="orderData.fecha">
                    </ejs-datepicker>
                </e-column>
                <e-column field='horaDesde' headerText='Hora Desde' width=120 format="HH:mm"></e-column>
                <e-column field='horaHasta' headerText='Hora Hasta' width=120 format="HH:mm"></e-column>
                <e-column field='cantidadReserva' headerText='Cantidad Reserva' width=150></e-column>
                <e-column field='motivo' headerText='Motivo' width=150></e-column>
                <e-column field='fechaHoraReserva' headerText='FechaHora Reserva' width=150>
                    
                </e-column>
                <e-column field='solicitantes.nombre' headerText='Solicitante' width=150></e-column>
                <e-column field='espacios.nombre' headerText='Espacio' width=150></e-column>
            </e-columns>

            <ng-template #editSettingsTemplate let-data>
                <div ngForm #orderForm="ngForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': data.motivo.invalid && (data.motivo.dirty || data.motivo.touched)}">
                                <input [(ngModel)]="data.motivo" required id="Motivo" name="Motivo" type="text" #Motivo="ngModel">
                                <span class="e-float-line"></span>
                                <label class="e-float-text e-label-top" for="Motivo">Motivo</label>
                            </div>
                            <div id="MotivoError" *ngIf='data.motivo.invalid && (data.motivo.dirty || data.motivo.touched)'>
                                <label class="e-error" id="Motivo-info" style="display: block;">*Motivo is required</label>
                            </div>
                        </div>
                    </div>      
                </div> 
            </ng-template>
        </ejs-grid>

        <!-- 
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>fecha</th>
                    <th>Hora Desde</th>
                    <th>Hora Hasta</th>
                    <th>Cantidad Reserva</th>
                    <th>Motivo</th>
                    <th>FechaHora Reserva</th>
                    <th>Solicitante</th>
                    <th>Espacio</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let reserva of reservaDetails">
                    <td>{{reserva.id}}</td>
                    <td>{{reserva.fecha}}</td>
                    <td>{{reserva.horaDesde}}</td>
                    <td>{{reserva.horaHasta}}</td>
                    <td>{{reserva.cantidadReserva}}</td>
                    <td>{{reserva.motivo}}</td>
                    <td>{{reserva.fechaHoraReserva}}</td>
                    <td>{{reserva.solicitantes.nombre}}</td>
                    <td>{{reserva.espacios.nombre}}</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                            (click)="edit(reserva)">Edit</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="deleteReserva(reserva)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        -->
    </div>
</div>